###############################################################################
# Secrets & private config (always keep OUT of Git)
###############################################################################
#  service-account keys, TLS certs, env files, etc.
config/*.json
*.pem
*.key
*.p12
.env

###############################################################################
# OS / editor cruft
###############################################################################
.DS_Store
__MACOSX/
Thumbs.db
desktop.ini
.idea/                 # JetBrains / IntelliJ
.vscode/               # VS Code / VSCodium
*.swp                  # Vim swap files
*.swo
*~

###############################################################################
# Python notebooks & caches
###############################################################################
.ipynb_checkpoints/
*.ipynb
__pycache__/
*.py[cod]

###############################################################################
# Build / dependency artifacts
###############################################################################
*.jar
*.war
*.zip
*.tgz
*.tar.gz
plugins/*/*.jar
plugins/*/*.zip
plugins/**/lib/

###############################################################################
# Docker-runtime state
###############################################################################
**/logs/
**/tmp/
**/data/
spool/done/
spool/error/
spool/finished/

###############################################################################
# Log files, sample outputs, scratch
###############################################################################
*.log
misc/

###############################################################################
# Node / front-end (should you ever add it)
###############################################################################
node_modules/
package-lock.json


# any other docs you don’t intend to version-control
*.pdf
*.txt